<!-- Remote Projects JS -->
<script src="{{ '/assets/js/remote-projects.js' | relative_url }}"></script>

<div class="card-columns m-3 mt-5">

  {% for project in site.projects %}
    {%- assign project_type  = project.type -%}
    {%- assign project_name  = project.title -%}
    {%- assign project_id    = project.title | slugify -%}
    {%- assign project_tools = project.tools -%}
	{%- assign project_desc  = project.description -%}
    {%- if project.image -%}
      {%- assign project_img = project.image -%}
    {%- else -%}
      {%- assign project_img = false -%}
    {%- endif -%}

    <!-- Local Projects -->
    {%- if project.type == "local" -%}

      {%- if project.external_url -%}
        {%- assign project_url = project.external_url -%}
      {%- else -%}
        {%- assign project_url = project.url | relative_url -%}
      {%- endif -%}

    <!-- Remote Projects -->
    {%- else -%}
      {%- for repo in site.github.public_repositories -%}
        {%- if project.remote == repo.name -%}
          {%- assign project_remote = repo -%}
        {%- endif -%}
      {%- endfor -%}
	  {%- unless project.description -%}
		{%- assign project_desc = project_remote.description -%}
	  {%- endunless -%}
      {%- assign project_url  = project_remote.html_url -%}

      <script>get_tools("{{ site.github.owner_name }}/{{ project.remote }}")</script>
    {%- endif -%}

    {% include projects/project-card.html %}

  {% endfor %}
</div>
