<div class="row justify-content-center align-items-center p-4">
  <div class="col-lg-4 col-md-6 text-center mt-4">

    <!-- Fine Circle Responsive Image -->
    <div id="container" class="my-2">
      <div id="dummy"></div>
      <div id="element">
        <img src="{{ site.author.image }}" alt="{{ site.title }}" class="circle-image wow animated zoomIn" data-wow-delay="0s" data-wow-duration=".7s">
      </div>
    </div>

    <p class="text-muted wow animated fadeIn" data-wow-delay=".7s" style="margin-top:20px">{{ page.description }}</p>
    {% if site.links %}
    <p class="text-muted wow animated fadeIn" data-wow-delay="1.4s" style="margin-top:20px">
      {% for site_link in site.links %}
        {% assign link = site_link | split: " : " %}
        <a class="m-1 btn btn-primary btn-md" href="{{ link[0] }}">{{ link[1] }}</a>
      {% endfor %}
    </p>
    {% endif %}
  </div>
</div>
