@media only screen and (max-width: 768px) {
 .mt-5{
   margin-top: 0;
 }
 .h1{
   font-size: 1.66rem;
 }
 .h2{
   font-size: 1.5rem;
 }
 .h3{
   font-size: 1.33rem;
 }
 .h4{
   font-size: 1.25rem;
 }
 .h5{
   font-size: 1.15rem;
 }
 ul{
   padding-left: 1em;
 }
}
