.plotly-container{
  width: 100%;
  height: auto;
  max-height: 800px;
  overflow: hidden;
  position: relative;
}

.plotly-container iframe{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

@media only screen and (max-width: 600px) {
  .plotly-container{
    width: 100%;
    max-height: 600px;
    overflow: hidden;
    position: relative;
  }
}

@media only screen and (max-width: 767px) {
  .plotly-container{
    width: 100%;
    max-height: 768px;
    overflow: hidden;
    position: relative;
  }
}

@media only screen and (min-width: 768px) {
  .plotly-container{
    width: 100%;
    max-height: 1024px;
    overflow: hidden;
    position: relative;
  }
}
