.timeline-body {
  position: relative;
  box-shadow: 0 0 1px gray;
  // padding: 5px 0;

  &:after {
    // Left Border
    content: "";
    width: 4px;
    height: 100%;
    background-color: $primary;
    position: absolute;
    left: 0px;
    top: 0;
  }

  .timeline-item {
    position: relative;
    box-shadow: 0px 1px 1px -1px gray;
    // padding: 35px 40px 15px 40px;
    &:after {
      // Circle
      content: "";
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 4px solid $primary;
      background-color: $light;
      position: absolute;
      left: -8px;
      // top: 8px;
      // top: 40px;
      z-index: 10;
    }

    .content {
      // margin: 40px;
      // padding-bottom: 20px;
      // border-bottom: 1px dashed $dark;

      .date {
        margin-top: -5px;
        margin-bottom: 15px;
        color: #6c757d;
      }
    }
  }
}

@media only screen and (min-width: 769px) {
 .timeline-item {
   padding: 30px 40px 15px 40px;
   &:after {
     top: 34px;
   }
 }
}

@media only screen and (max-width: 768px) {
 .timeline-item {
   ul{
     padding-left: 1em;
   }
   &:after {
     top: 19px;
   }
   padding: 15px 15px 15px 20px;
 }
}



// .timeline {
//     list-style-type: none;
//     position: relative;
// }
.timeline:before {
    content: ' ';
    background: $primary;
    display: inline-block;
    position: absolute;
    // left: 29px;
    width: 3px;
    height: 100%;
    z-index: 400;
}
// .timeline > div.card {
//     margin: 20px 0;
//     padding-left: 20px;
// }
.timeline > .card:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 4px solid $primary;
    left: -9px;
    top: 10px;
    width: 20px;
    height: 20px;
    z-index: 1400;
}
