@charset "utf-8";

// Custom Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

// Import partials from `sass_dir` (defaults to `_sass`)
@import "variables",
        "404",
        "autumn",
        "base",
        "blog",
        "footer",
        "landing",
        "navbar",
        "projects",
        "skills",
        "timeline",
        "progress",
        "plotly",
        "mobile";

a {
  color: $primary
}
