/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  min-height: 100vh;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.homeSection{
  flex-direction:column;
  margin:0 auto;
  max-width:900px;
  /* padding:0px 20px; */
  margin:30px;
  display:flex;
  align-items:left;
}


.homeMain{
  flex-direction:column;
  display:flex;
  align-items:center;
}


/* @media screen and (max-width: 996px) {
  .homeSection {
    padding: 2rem;
  }
} */

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
