<!-- <div class="col mb-4"> -->
  {% if include.title %}
  <h2 class="mb-3">{{ include.title }}</h2>
  {% endif %}
  <div class="timeline-body">

    {% for item in include.source %}

      <div class="timeline-item border">
        <div class="content">
          <h4>{{ item.role }}</h4>
            {% if item.link %}
              <h6><a href="{{ item.link }}"><b>{{ item.entity }}</b></a>
            {% else %}
              <h6><b>{{ item.entity }}</b>
            {% endif %}
            {% if item.location %}
            &nbsp;•&nbsp;{{ item.location }}
            {% endif %}
            </h6>
          <h6 class="date">{{ item.from }} — {{ item.to }}</h6>
          <p>
            {%- for line in item.description -%}
              {{ line }} <br>
            {%- endfor -%}
          </p>
          {%- if item.courses -%}
            <ul>
              {% for course in item.courses %}
                {% assign split_course = course | split: ": " %}
                {% if split_course.size == 1 %}
                  <li>{{ split_course[0] }}</li>
                {% else %}
                  <li><b>{{ split_course[0] }}</b> : {{ split_course[1] }}</li>
                {% endif %}
              {% endfor %}
            </ul>
          {%- endif -%}
          {%- if item.tools -%}
          <p id="tools" class="card-text">
            {%- for tool in item.tools -%}
            <span class="badge badge-pill badge-primary ml-1">{{ tool }}</span>
            {%- endfor -%}
          </p>
          {%- endif -%}
        </div>
      </div>

    {% endfor %}
  </div>
<!-- </div> -->
